@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Ciudad de Buenos Aires<br />
    Argentina<br />
    <abbr title="Telegram">Telegram: cri_s</abbr>
    
</address>

<address>
    <strong>Soporte:</strong> <a href="mailto:crispedrani@gmail.com">crispedrani@gmail.com</a><br />
    <strong>Solicitudes:</strong> <a href="mailto:crispedrani@gmail.com">crispedrani@gmail.com</a>
</address>
